infra/logic-workflow.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": {
      "type": "Object",
      "defaultValue": {}
    },
    "projectAgentsEndpoint": {
      "type": "String",
      "defaultValue": ""
    },
    "orchestratorAgentName": {
      "type": "String",
      "defaultValue": "orchestrator-ks"
    },
    "agentsApiVersion": {
      "type": "String",
      "defaultValue": "2025-05-01"
    }
  },
  "triggers": {
    "When_a_new_email_arrives_V3": {
      "type": "ApiConnection",
      "recurrence": {
        "frequency": "Minute",
        "interval": 3
      },
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['office365']['connectionId']"
          }
        },
        "method": "get",
        "path": "/v3/Mail/OnNewEmail",
        "queries": {
          "folderPath": "Inbox",
          "includeAttachments": true,
          "fetchOnlyWithAttachment": true,
          "importance": "Any"
        }
      },
      "splitOn": "@triggerBody()?['value']"
    }
  },
  "actions": {
    "Initialize_attachmentUrls": {
      "type": "InitializeVariable",
      "runAfter": {},
      "inputs": {
        "variables": [
          {
            "name": "attachmentUrls",
            "type": "Array"
          }
        ]
      }
    },
    "For_each_attachment": {
      "type": "Foreach",
      "runAfter": {
        "Initialize_attachmentUrls": [
          "Succeeded"
        ]
      },
      "foreach": "@coalesce(triggerBody()?['attachments'], json('[]'))",
      "actions": {
        "Create_blob": {
          "type": "Http",
          "inputs": {
            "method": "PUT",
            "uri": "https://agenticemailks.blob.core.windows.net/incoming-attachments/@{encodeURIComponent(item()?['name'])}",
            "headers": {
              "x-ms-blob-type": "BlockBlob",
              "x-ms-version": "2021-08-06"
            },
            "body": "@base64ToBinary(item()?['contentBytes'])",
            "authentication": {
              "type": "ManagedServiceIdentity",
              "audience": "https://storage.azure.com"
            }
          }
        },
        "Append_blob_path": {
          "type": "AppendToArrayVariable",
          "runAfter": {
            "Create_blob": [
              "Succeeded"
            ]
          },
          "inputs": {
            "name": "attachmentUrls",
            "value": "incoming-attachments/@{item()?['name']}"
          }
        }
      }
    },
    "Compose_payload": {
      "type": "Compose",
      "runAfter": {
        "For_each_attachment": [
          "Succeeded"
        ]
      },
      "inputs": {
        "subject": "@triggerBody()?['subject']",
        "from": "@triggerBody()?['from']",
        "bodyPreview": "@triggerBody()?['bodyPreview']",
        "body": "@triggerBody()?['body']",
        "attachmentBlobs": "@variables('attachmentUrls')"
      }
    },
    "List_agents": {
      "type": "Http",
      "runAfter": {
        "Compose_payload": [
          "Succeeded"
        ]
      },
      "inputs": {
        "method": "GET",
        "uri": "@{parameters('projectAgentsEndpoint')}/assistants?api-version=@{parameters('agentsApiVersion')}",
        "authentication": {
          "type": "ManagedServiceIdentity",
          "audience": "https://ai.azure.com"
        }
      }
    },
    "Filter_orchestrator": {
      "type": "Query",
      "runAfter": {
        "List_agents": [
          "Succeeded"
        ]
      },
      "inputs": {
        "from": "@coalesce(body('List_agents')?['data'], json('[]'))",
        "where": "@equals(item()?['name'], parameters('orchestratorAgentName'))"
      }
    },
    "If_orchestrator_found": {
      "type": "If",
      "runAfter": {
        "Filter_orchestrator": [
          "Succeeded"
        ]
      },
      "expression": {
        "and": [
          {
            "greater": [
              "@length(body('Filter_orchestrator'))",
              0
            ]
          }
        ]
      },
      "actions": {
        "Call_orchestrator_agent": {
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "@{parameters('projectAgentsEndpoint')}/threads/runs?api-version=@{parameters('agentsApiVersion')}",
            "headers": {
              "Content-Type": "application/json"
            },
            "body": {
              "assistant_id": "@{first(body('Filter_orchestrator'))?['id']}",
              "thread": {
                "messages": [
                  {
                    "role": "user",
                    "content": "@{string(outputs('Compose_payload'))}"
                  }
                ]
              }
            },
            "authentication": {
              "type": "ManagedServiceIdentity",
              "audience": "https://ai.azure.com"
            }
          }
        }
      },
      "else": {
        "actions": {}
      }
    }
  },
  "outputs": {}
}
